.heading,
h3 {
  font-family: "Comic Sans MS";
  font-weight: 1200;
}

.burger-div,
.burger-input {
  font-family: "Comic Sans MS";
}

html {
  margin: 20px;
}
html,
body,
.container-flex {
  background-color: teal;
  text-align: center;
}

ul {
  list-style-type: none;
}
